@import '../../node_modules/scss-reset/src/scss/_reset.scss';
@import './visual.scss';
@import 'material-icons/iconfont/material-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap');


body{
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 24px;
    font-size: 16px;
}

span{
    vertical-align: middle;
}

h2 {
    font-size: 48px;
    line-height: 72px;
}

.h2-pages{
    border-left: 8px solid $mainColor;
    padding-left: 16px;
    font-weight: bold;

}

h3{
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
    color:$mainColor2;
    font-weight: bold;
    text-align: center;
}

.h3-pages{
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    color:#000;
    text-align: left;
}

.h3-pages-box{
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #00000020;
}



.h4-pages{
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
}

.faqs{
    max-width: 856px;
    margin-right: auto;
    li{
        margin-top: 8px;
    }
    .li-title{
        margin-top: 32px;
        &:first-child{
            margin-top: 24px;
        }
    };
}

.container{
    max-width: calc(1296px + 32px);
    padding:  0px 16px;
    margin: 0 auto;
}

.container-pages{
    margin-top:96px;
    margin-bottom: 80px;
}

a{
    text-decoration: none;
    color: #fff;
}

.nav{
    background: $mainColor;
    color: #fff;
    .flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    img{
        width: 80px;
        height: 48.75px;
    }
    ul{
        display: flex;
        
    }
    li{
        margin: 25px 0px 25px 64px;
    }
}

.footer{
    background: $mainColor;
    color:#fff;
    .footerNav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 48px 0px 33px 0px;
        ul{
            display: flex;
            li{
                padding: 0px 16px;
            }
        }
        img{
            width: 48px;
            height: 48px;
            //padding: 0px 16px;
        }

    }

    .flex{
        ul{
            display: none;
        }
    }

    .info{
        span{
            font-size: 36px;
            padding-right: 16px;
        }
        p{
           line-height: 54px;
           font-size: 36px;
        }
    }
    .credit{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 32px;
        padding: 32px 0px;
        border-top:1px solid #fff ;
        line-height: 24px;
        font-size: 16px;
        ul{
            display: flex;
        }
        li{
            margin-left: 48px;
            font-size: 14px;
            line-height: 21px;
        }
    }
}

.header{
    background-image: url('../resource/home-header.png');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    .title{
        padding: 296px 0px;
        color: $mainColor2;
        text-align: right;
    }
    h1{font-size: 64px;line-height: 96px;font-weight: bold;}
    h2{font-size: 36px;line-height: 54px;font-weight:normal;}
    button{
        background-color: $mainColor;
        color: #fff;
        padding: 6px 12px;
        line-height: 1.5;
        font-size: 20px;
    }
}

.intro2{
    background: $pink;
    padding: 80px 0px;
    h3{
        margin-bottom: 32px;
    }
    .cardContainer{
        display: flex;
        text-align: center;

        h4{
            font-size: 24px;
            font-weight: bold;
            line-height: 36px;
            color:$mainColor2;
            margin-bottom: 8px;
        }
        p{
            font-size: 16px;
            line-height: 24px;
            text-align: left;
        }
        li{
            max-width: 25%;
            padding: 0px 12px;
        }
        span{
            font-size: 80px;
            color: $mainColor2;
            margin-bottom: 24px;
        }
    }
}

.intro3{
    padding: 80px 0px;
    .cardContainer{
        display: flex;
        justify-content: space-between;
        //flex-wrap: wrap;
    }
    h3{
         margin-bottom: 48px;
    }
    li{
        max-width: 416px;
    }
        img{
            max-width: 100%;
            margin-bottom: 8px;
        }
        h4{
            font-family: 'Roboto';
            font-weight: bold;
            font-style: italic;
            font-size: 48px;
            line-height: 72px;
            color: $mainColor;
            text-align: center;
        }
    
}

.intro4{
    padding: 80px 0px;
    background-image: url('../resource/index-bg-md.png');
    background-repeat: no-repeat;
    background-size: cover;
    h3{
        color: #fff;
        margin-bottom: 48px;
    }
    h4{
        color: $mainColor;
        background: #fff;
        font-size: 48px;
        line-height: 72px;
        padding: 8px 0px;
        text-align: center;
        font-family: 'Roboto';
        font-weight: bold;
        font-style: italic;

    }
    .cardContainer{
        display: flex;
    }
}

.intro5{
    padding: 80px 0px;
    .cardContainer{
        display: flex;
        justify-content: space-between; 
        margin-top: 48px;
    }
    .card{
        max-width: 306px;
        box-shadow: 0px 2px 6px $boxShadow;
        .user{
            padding: 16px 16px 0px 16px;
            font-size: 16px;
            line-height: 24px;
        }
        .text{ 
            padding: 16px 16px 0px 16px;
            font-size: 16px;
            line-height: 24px;
        }
        .date{
            padding: 48px 0px 16px 16px;
            color: $secondary;
            font-size: 14px;
            line-height: 21px;
        }
    }
}

.contactUs{
    padding: 80px 0px ;
    background:$pink;
    p{
        display: block;
        max-width: 626px;
        margin: 24px auto 0 auto;
    }
    form{
        max-width: 636px;
        margin: 24px auto 0px auto;
       input{
        margin: 8px 0px 16px 0px;
        width: 100%;
        display: block;
        background-color: #00000000;
        border: 1px solid #000;
        padding: 6px 12px;
       }
       textarea{
        margin: 8px 0px 16px 0px;
        padding: 6px 0 6px 12px;
        width: 100%;
        display: block;
        resize: none;
        background-color: #00000000;
       }
       .checkbox{
        display: inline;
        width: 24px;
       }
       button{
        background-color: $mainColor;
        font-weight: bold;
        padding: 16px 176px;
        color: #fff;
        display: block;
        margin: 48px auto 0px auto;
       }
    }
}

.text-center{
    text-align: center;
}


select{
    width: 304px;
    margin-left: 16px;
}

.store-card{
    max-width: 526px;
    //border: 1px solid #00000020;
    img{
        width: 100%;
    }
}

.store-card-inner{
    border: 1px solid #00000020;
}

.pl-27{
    padding-left: 27px;
    padding-right: 27px;
}


.googlemap{
    max-width: 746px;
}

.flex-store{
    display: flex;
}

.justify-content-between{
    justify-content:space-between;
}

.fw-n{
    font-weight: normal;
}

.mt-40{
    padding-top: 40px;
}

.mt-32{
    margin-top: 32px;
}
.mb-8{
    margin-bottom: 8px;
}
.py-16{
    margin: 16px 0px;
}

@media (max-width:992px) {
    .container{
        padding: 0 36px;

    }

    .intro2 ,.intro5{
        .cardContainer{
            flex-wrap: wrap;
            justify-content: space-around;
            li{
                max-width: 336px;
                margin: 24px 0px 0px 0px;
            }
        }
    }

.intro3{
    h3{
        margin-bottom: 24px;
    }
    .cardContainer{
        flex-direction: column;
        align-items: center;

        li{
            margin-top: 24px;
        }
    }
}

    .intro5 .cardContainer{
        margin: 48px 0 0 0;
    }
    

.flex-store{
    flex-direction: column;
    align-items: center;
}

.store-card{
    .pl-27{
        padding-left: 24px;
        padding-right: 24px;
    }
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    img{
        max-width: 337px;
        margin-right: 24px;
    }

}
.googlemap{
    max-width: 696px;
    margin-top: 24px;
}


}
//phone
@media(max-width:768px){

    h3{
        line-height: 36px;
        font-size: 24px;
    }

    .h2-pages{
    border-left: 8px solid $mainColor;
    padding-left: 16px;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    }


    .container{
        padding:  0px 36px;
    }
    .container-pages{
        margin-top: 40px;
        margin-bottom: 64px;

    }

    .nav{
        .container{
            padding: 0;
        }
        .flex{
            flex-direction: column;
            align-items: flex-start;
            flex-wrap: wrap;
        }
        ul{
            flex-wrap: wrap;
            align-items: flex-start;
            width: 100%;
        }
        li{
           margin: 0;
           width: 50%;
           padding: 12px 0px;
           text-align: center;
           border: 1px solid #fff;
        }
        img{
            margin: 16px;
        }
        
    }

    .footer{
        .footerNav{
                display: none;
        }
        .flex{
            padding-top: 24px;
            display: flex;
            justify-content: space-between;
            ul{
                display: flex;
            }
            img{
                width: 24px;
                height: 24px;
                margin-left: 8px;
            }
        }
        .info{
            p{
                font-size: 16px;
                line-height: 24px;
            }
        }
        .credit{
            flex-direction: column;
            align-items: flex-start;
            ul{
                flex-direction: column;
            }
            li{
                margin: 8px 0 0 0;
                font-size: 16px;
            }
        }
    }

    .header{
        background-image: url(../resource/home-header-sm.png);
        background-position:left;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .intro2 ,.intro3, .intro4, .intro5{
        padding: 40px;
        h3{
            margin: 0 0 0 0;
            padding: 0;
        }
        .cardContainer{
            margin: 0;
            flex-direction: column;
            align-items: center;
            li{
            padding-top: 24px;
            max-width: 348px;
            }
            .intro4-div{
                margin-top: 24px;
            }
            .intro5-card{
                max-width: 348px;
                padding-top: 0;
                margin-top: 16px;
            }
        }
       
    }

    .contactUs{
        form{
                  button{
            padding-left: 0;
            padding-right: 0;
            text-align: center;
            width: 100%;
        }  
        }

    }

    .h3-pages{
        line-height: 36px;
        font-size: 24px;

    }
    .store-card{
        .pl-27{
            padding-left: 24px;
            padding-right: 24px;
        }
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 696px;
        img{
            max-width: 100%;
        }
    
    }
    .googlemap{
        max-width: 696px;
        margin-top: 24px;
    }
    .flex-store{
        align-items: initial;
    }
    select{
        width: auto;
        margin-left: 16px;
    }
}
